@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/bg5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

:root{
  --clr-bitterseet:#F07167;
  --clr-light-orange:#FED9B7;
  --clr-light-yellow:#FDFCDC;
  --clr-verdigris:#00AFB9;
  --clr-cerulean:#0081A7;
}

/*Custom scroll bar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

.shake {
  animation: shake 0.82s  cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both ;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90%{
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* ========== custom style ============= */
.w-23{
  width: 23%;
}
.w-77{
  width: 77%;
}

@media (min-width:1450px){
  .w-23{
    width: 20%;
  }
  .w-77{
    width: 80%;
  }
}

/* ========================================== */

/* ================= Hover =============== */
.b{
  background: var(--clr-cerulean);
  color: var(--clr-light-yellow);
}

.b:hover{
  background: var(--clr-light-yellow);
  color: var(--clr-cerulean);
}

/* ========================================*/

/* colors F07167(pink), FED9B7(light orange), FDFCDC(light yellow), 00AFB9(verdigris), 0081A7(Cerulean) */
/* style={{ color: "var(--clr-cerulean)" }}
style={{ color: "var(--clr-light-orange)" }}
style={{ color: "var(--clr-light-yellow)" }}
style={{ color: "var(--clr-verdigris)" }}
style={{ color: "var(--clr-bitterseet)" }} */